@import "tailwindcss";

@theme {
  --color-primary: #F5FFFB;
  --color-secondary: #0E1A17;
  --color-accent: #00110b;
  --color-cyan: #09ffa5;
}

    /* In your main CSS file */
    ::-webkit-scrollbar {
      width: 8px; /* Adjust scrollbar width */
    }

    ::-webkit-scrollbar-track {
      background: transparent; /* Background color of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
      background: #888; /* Color of the scrollbar thumb */
      border-radius: 4px; /* Rounded corners for the thumb */
    }

    